/* HTML Semantic Elements*/

*  {
    margin:0% 5% 0% 5%;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(241, 241, 241);
}

body {
    background-color:white;
}

header{
    background-color: white;
    width:auto;
    height: auto;
}

article{
    text-align: justify;
    overflow:hidden;
}


footer{
    font-size: 12px;
    color: black;
    bottom:0;
    width: auto;
    background-image: linear-gradient(to bottom, white, rgb(192, 192, 192));
}

/* IMAGENS E CONTEUDO*/

.fox{
    margin-block-start: 2%;
    margin-inline: 1%;
    height:25%;
    width: 25%;
}

.titulos{
    color: #FD8239;
}

.light{
    color: black;
    background-color:white;
    margin: 2%;
}

.dark{
    color:white;
    background-color: black;
    margin: 2%;
}

.footer_git{
    color: black;
    font-size: 12px;
}
